@charset "utf-8";

.hissu{
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 10px;
}

.syousai{
    font-size: 10px;
}

th{
    text-align: left;
    vertical-align: top;
    background-color: #8B008B;
}

td{
    background-color: #EE82EE;
}

th, td{
    padding: 15px;
}

div{
    margin: 10px;
}

button{
    width: 200px;
}
